STORAGE_DIRECTORY_PATH='/absolute/path/to/root/directory'
LOCAL_FILES_FOLDER='files' # relative folder path in root_directory
LOCAL_FAILURES_FOLDER='failures' # relative failure path in root_directory